<section class="mb-3">
        <div class="card sw-card">
            <div class="card-header">
                {{ starshipData.name }}
            </div>
            <div class="card-body sw-card__body">
                <h5 class="card-title">Consumables</h5>
                <p class="card-text">{{ starshipData.consumables }}</p>
                <h5 class="card-title">MGLT in a standard hour</h5>
                <p class="card-text">{{ starshipData.MGLT }}</p>
                <h5 class="card-title">Stops for resupply</h5>
                <p class="card-text">{{ starshipData.stopsForResupply }}</p>
            </div>
        </div>
</section>