<nav class="text-center">
    <ul class="sw-menu">
        <li
            class="sw-menu__item text-center"
            routerLink='/'
            routerLinkActive="sw-menu__item--active"
            [routerLinkActiveOptions]="{exact: true}">Home</li>
        <li
            class="sw-menu__item text-center"
            routerLink='/calculate'
            routerLinkActive="sw-menu__item--active"
            [routerLinkActiveOptions]="{exact: true}">Calculate</li>
        <li
            class="sw-menu__item text-center"
            routerLink='/documentation'
            routerLinkActive="sw-menu__item--active" [routerLinkActiveOptions]="{exact: true}">Documentation</li>
    </ul>
</nav>