@import "~bootstrap/scss/bootstrap-reboot";
@import '../../../../sass/colours';

.sw-menu {
    padding-left: 0;
    list-style-type: none;

    &__item {
        display: inline-block;
        font-size: 0.875rem;
        border-right: 2px solid $sw-black;
        padding: 0 10px;
        cursor: pointer;

        &--active, &:hover {
            background-color: $sw-gold;
            color: $sw-black;
            font-weight: bold;
        }

        @include media-breakpoint-up(md) {
            font-size: 1.25rem;
            width: calc(100%/3);
        }
    }
}