<div class="col-12 sw-home">
    <section>
        <div class="sw-home__title text-center mb-2">Introduction</div>
        <ul class="sw-home__content row">
            <li>This application calculates how many stops for resupply is required for a starship to make given a certain distance (in mega lights)</li>
        </ul>
    </section>
    <section>
        <div class="sw-home__title text-center mb-2">How to use</div>
        <ul class="sw-home__content row">
            <li class="col-12">- Go to calculate</li>
            <li class="col-12">- Choose all starships or a specific model</li>
            <li class="col-12">- Type in the distance in mega lights</li>
            <li class="col-12">- Hit GO button to show the results</li>
        </ul>
    </section>
</div>